<h3>{{title}} - {{displayQuery}}</h3>
<form (ngSubmit)="sendQuery()" [formGroup]="form">
  <div *ngFor="let key of modelKeys; let i=index" class="form-item">
    <div>{{key}}</div>
    <div><input placeholder="Enter {{key}} Here" formControlName="{{key}}" type="{{type[i]}}" />
      <div *ngIf="form.controls[key].touched && form.controls[key].invalid 
                  && form.controls[key].errors.required">{{key}} field is required</div>
      <div *ngIf="form.controls[key].invalid && form.controls[key].errors.validateEmail">
          No special chars
        </div>
      <div *ngIf="key === 'stars' && stars.invalid && stars.errors.maxlength">
        Maxlength should be 4
      </div>
      <div *ngIf="key === 'stars' && stars.invalid && stars.errors.minlength">
          Minlength should be 2
        </div>
    </div>
  </div>
  <button type="submit" [disabled]="!form.valid">Submit</button>
</form>
<div *ngIf="searchResults">
  <h3 class="total">Total Results: {{searchResults.repositories.total_count+searchResults.code.total_count}}</h3>
  <ul class="list">
    <app-repository-display [searchResults]="searchResults.repositories" [favorites]="favorites" (updateFavorites)="handleFavorite($event)" *ngIf="searchResults.repositories"></app-repository-display>
    <app-code-display [searchResults]="searchResults.code" [favorites]="favorites" (updateFavorites)="handleFavorite($event)" *ngIf="searchResults.code"></app-code-display>
  </ul>
</div>